/*=====HEADER====*/
header {
  background-image: url("https://i.imgur.com/qlYXEjg.png");
  background-position: left;
  background-size: 100%;
  height: 135px;
  padding-top: 60px;

  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
}

h1 {
  position: relative;
  font-size: 30px;
  top: -90px;
  right: -10px;
  color: #fff;
}
#mainNav {
  height: 50px;
  padding: 10px;
  padding-left: 0px;

  flex-direction: column;
  display: inline-flex;
}

.navButton {
  background-color: black;
  border-radius: 90%;
  width: 100px;
  height: 50px;
  padding: 5px;
  padding-top: 8px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-family: "Mukta", sans-serif;
  flex-direction: column;
  display: inline-flex;
}

a {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .8s;
  text-decoration: none;
}
a:visited {
    color: #fff;
    opacity: 50%;
}
a:hover, a:focus {
  background-size: 100% 2px;
}

.navButton:hover {
  opacity: 80%;
  animation: pulse;
  cursor: pointer;
}

#navButton1 {
  background-position: left;
}
#navButton2 {
  background-position: 220px;
}
#navButton3 {
  background-position: right;
}

/*=====================*/
/*======OTHER TAGS===========*/
body {
  background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png");
}
/*=====================*/
/*======SECTION========*/
#portfolioSection {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.coverImg {
  width: 400px;
  height: 400px;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
  transition: ease-in-out;
  transition-duration: 0.5s;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.coverImg:hover {
  overflow: hidden;
  opacity: 90%;
  transform: scale(1.06);
}

.portfolioDivs {
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border: 0px solid;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fillustrations%2Fblack-background-texture-template-370118%2F&psig=AOvVaw1Rpe66WLANKbkP-CeWC7iu&ust=1596206877654000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjg4pGc9eoCFQAAAAAdAAAAABAJ");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  min-width: 250px;
}
/*=====================*/
/*======FOOTER========*/
footer {
  background-color: rgba(255, 255, 255, 0.11);
  color: #fff;
  height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  padding-top: 6px;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
}

/* ========================== */
/*=========ABOUT=============*/

#aboutSection{
    border: 2px solid;
    border-radius: 5px;
    border-color: #fff;
    background-color: #fff;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    padding: 5px;
    padding-top: 35px;
    text-align: justify;
    justify-content: center;

    display: flex;
}

#aboutHeader{
    margin-top: 10px;
    padding-top: 5px;
    height: 40px;
    width: 1400px;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    -webkit-text-stroke: 2px rgb(53, 51, 51);

    display: inline-flex;
}

.aboutText{
    font-size: 18px;
    border-color: black;
    padding: 5px;
    font-family: "Times New Roman", sans-serif;
    width: 440px;
    color: black;
    font-size: 24px;

    flex-direction: column;
    display: flex; 
}


/* ========================== */
/*=========Contact=============*/

.hContact{
  color: #fff;
  font-size: 30px;
  text-align: center;
  -webkit-text-stroke: 2px rgb(53, 51, 51);
}

.contacts{
  text-align: center;
}

.icon{
  width: 24px;
}