/*=====HEADER====*/
header{
    background-image: url("https://cdn.pixabay.com/photo/2014/05/21/15/47/piano-349928_960_720.jpg");
    background-position: left;
    background-size: 100%;
    height: 135px;
    padding-top: 60px;

    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
}

h1{
    position: relative;
    font-size: 30px;
    top: -90px;
    right: -10px;
    color: #fff;
}
#mainNav{
    height: 50px;
    padding: 10px;
    padding-left: 0px;
    
    flex-direction: column;
    display: inline-flex;
}

.navButton{
    background-image: url("https://www.publicdomainpictures.net/pictures/10000/nahled/87-1265714548Otmq.jpg");
    border-radius: 90%;
    width: 100px;
    height: 50px;
    padding: 5px;
    padding-top: 8px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-family: 'Mukta', sans-serif;
    flex-direction: column;
    display: inline-flex;
}

a{color: #fff;}
a:visited{
    opacity: 50%;
}
a:hover{
    color: red;
}

.navButton:hover{
    opacity: 80%;
    animation: pulse;
    cursor: pointer;
}

#navButton1{background-position: left;}
#navButton2{background-position: 220px;}
#navButton3{background-position: right;}

/*=====================*/
/*======OTHER TAGS===========*/
body{
    background-image: url('https://cdn.pixabay.com/photo/2016/04/30/14/58/music-1363069_960_720.jpg');
    background-color: #fff;
    background-position: center;
    background-size: 100%;
}
/*=====================*/
/*======SECTION========*/
#portfolioSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.coverImg{
    width: 400px;
    height: 400px;
    padding: 5px;
    overflow: hidden;
    transition: ease-in-out;
    transition-duration: 0.5s;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.coverImg:hover{
    overflow: hidden;
    opacity: 90%;
    transform: scale(1.06);
}

.portfolioDivs{
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    min-width: 250px;
}
/*=====================*/
/*======FOOTER========*/
footer{
    background-color: rgba(0, 0, 0, 0.11);
    height: 30px;
    margin-top: 30px;
    border-radius: 5px;
    padding-top: 6px;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
}

